<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422227624546-b222ha2ihci8vpet8o3av5po74qr93cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422227624546-b222ha2ihci8vpet8o3av5po74qr93cp</string>
	<key>API_KEY</key>
	<string>AIzaSyARSUW5qO_tvNRGGp5y5i3NoFq8c6073co</string>
	<key>GCM_SENDER_ID</key>
	<string>422227624546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iwaway.CatsProject</string>
	<key>PROJECT_ID</key>
	<string>myfirst-26d7d</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirst-26d7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422227624546:ios:73bdc42222c234794e473b</string>
</dict>
</plist>